@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@600&family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-top-right.css');

html{
    background-color: #E7E7E7;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

header {
    background-color: #181818f3;
    margin: -8px;
    height: 750px;
}


a{
    color: white;
    text-decoration: none;
    background-color: black;
}

.name {
    position: relative;
    margin: 0px;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 300;
    font-size: 36px;
    top: 65px;
    left: 20px;
}

.image {
    position: fixed;
    top: 0px;
    left: 100px;
    height: 1010px;
}

.image2{
    position:fixed;
    height: 5vw;
    top: 3vw;
    left: 290px;
    background-color: #151515;
    border-radius: 30px;
}

.tra {
    color: white;
    position: fixed;
    font-family: 'Libre Caslon Display', serif;
    font-weight: lighter;
    font-size: 130px;
    margin: 0px;
    top: 50px;
    right: 200px;
}
.lin {
    color: white;
    position: fixed;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 600;
    font-size: 20px;
    top: 160px;
    right: 120px;
}

.lina {
    position: relative;
    height: 10px;
    width: 450px;
    background-color: black;
    font-size: 130px;
    margin: 0px;
    top: 0px;
    padding: 0px;
    top: -57px;
    left: 30px;
}


.lik{
    position: fixed;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    font-family: 'Lily Script One', cursive;
    right: 400px;
    top: 600px;
}

.imagea{
    position:fixed;
    height: 44vw;
    left: 1150px;
    top: 200px;
}

.slogan{
    position: fixed;
    top: 375px;
    left: 65px;
}

.gg-arrow-top-right{
    color: white;
}

.menu{
    font-family: 'Lexend Peta', sans-serif;
    position: fixed;
    font-weight: lighter;
    font-size: 13px;
    top: 290px;
    left: 235px;
}

.menopt{
    position: fixed;
    top: 300px;
}
.menopt2{
    position: fixed;
    top: 390px;
}
.menopt3{
    position: fixed;
    top: 475px;
}

.seta1{
    top: 35px;
    left: 100px;
}

.seta2{
    top: 115px;
    left: 265px;
}

.seta3{
    top: 193px;
    left: 205px;
}

